<form class="field" action="<%= action %>" method="POST">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" placeholder="Nome do Cliente" />
  </div>

  <div>
    <label for="whatsapp"></label>
    <input type="text" name="whatsapp" id="whatsapp" placeholder="whatsapp" />
  </div>

  <div>
    <input class="button is-success is-small" type="submit" value="Salvar" />
  </div>
</form>
